.theme-dark .page {
  --accent-color: #FF0070;
    --accent__header-title-clr: #DB00FF;
    --accent__text-color: #F1B2CE;
    --image-cover: url(../images/cover-image-dark.png);
    --text-color: #000028;
}
