.theme-light .page {
  --accent-color: #ff8dcb;
  --accent__color-heading: #353430;
  --accent__header-title-clr: #ffc2e6;
  --accent__header-menu-bttn-clr: #353430;
  --accent__text-color: #353430;
  --dsply-rec: none;
  --image-cover: url(../images/cover-image-light.png);
  --text-color: var(--accent__text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent__color-heading: #353430;
    --accent__header-title-clr: #ffc2e6;
    --accent__header-menu-bttn-clr: #353430;
    --accent__text-color: #353430;
    --dsply-rec: none;
    --image-cover: url(../images/cover-image-light.png);
    --text-color: var(--accent__text-color);
  }
}
