.text__accent-shadow {
  color: var(--accent__header-title-clr);
  font-weight: 700;
  font-size: var(--mobil__font-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-weight: bold;
  line-height: 23.4px;
  font-size: 18px;
  block-size: fit-content;
  margin-block-end: 10px;
}

.accent-heading {
  font-weight: bold;
  color: var(--accent__color-heading);
  font-size: 18px;
}

.sctn-text {
  padding-block-end: 19px;
  color: var(--accent__text-color);
  font-size: 18px;
  font-weight: 400;
}

.accent-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.accent-link:hover {
  border-bottom: 1px solid var(--accent__text-color);
}

.accent-link:focus {
  outline: none;
}

.accent-link:focus-visible {
  outline: 1px solid var(--accent__text-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: start;
  gap: 50px;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: 40px;
}

.decorated_zone {
  position: relative;
  min-block-size: 668px;
}

.dark__theme-rec {
  display: var(--dsply-rec);
  position: absolute;
  line-height: 25px;
  color: var(--accent-color);
  inset-inline-end: 28px;
  inset-block-start: 10px;
}

.dark__theme-rec::after {
  position: absolute;
  content: "";
  inline-size: 5px;
  block-size: 5px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 5px 4px var(--accent-color);
  inset-block-start: 11px;
  inset-inline-end: -15px;
}

.decorated_zone::before {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--accent__color-heading);
  border-right: 1px solid var(--accent__color-heading);
  inset-block-start: 10px;
  inset-inline-end: 0;
}

.decorated_zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--accent__color-heading);
  border-left: 1px solid var(--accent__color-heading);
  inset-block-end: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: end;
  max-inline-size: 70px;
  padding-block-end: 17px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 0 13px;
  color: var(--accent__header-menu-bttn-clr);
  text-transform: lowercase;
  cursor: pointer;
  line-height: 18px;
  max-inline-size: 70px;
  min-block-size: 26px;
}

.header__theme-menu-button:hover {
  outline: 0.5px solid var(--accent__header-menu-bttn-clr);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent__header-menu-bttn-clr);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent__header-menu-bttn-clr);
  pointer-events: none;
}

.header-title {
  align-self: flex-start;
  max-inline-size: 355px;
}

.header-text {
  align-self: flex-start;
  max-inline-size: 355px;
  padding-inline-end: 50px;
  margin-block-start: 5px;
}

.content-section {
  padding-block-end: 28px;
}

.sctn-list {
  grid-column: 2;
  grid-row: 1;
}

.sctn-heading {
  padding: 0 0 20px;
}

.sctn-what {
  padding-block-end: 30px;
}

.title_decor-thin {
  font-weight: 400;
}

.title_decor-thin-start {
  margin-block-start: 18px;
}

.sctn-gallery {
  padding: 0 0 40px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-img {
  display: block;
  inline-size: 100%;
}

.footer {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer-text {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
  max-inline-size: 348px;
}

@media (width>=768px) {
  .header {
    margin-block-end: 0;
  }

  .decorated_zone {
    min-block-size: 1024px;
  }

  .decorated_zone::before {
    inset-block-start: 20px;
  }

  .dark__theme-rec {
    inset-block-start: 20px;
  }

  .decorated_zone::after {
    inset-block-end: 20px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
    padding: 63px 0 0;
  }

  .header-title {
    max-inline-size: 576px;
    margin-inline-start: -20px;
  }

  .text__accent-shadow {
    font-size: var(--desktop__font-size);
  }

  .header-text {
    justify-self: end;
    align-self: center;
    max-inline-size: 364px;
    margin: 0 0 67px;
  }

  .content-section {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
    padding-block-start: 60px;
    padding-block-end: 0;
  }

  .content-section .title-decor {
    grid-row: 1;
    grid-column: 2;
  }

  .sctn-what {
    display: flex;
    padding: 60px 0 0;
    flex-direction: column;
  }

  .sctn-heading {
    max-inline-size: 236px;
  }

  .title_decor-thin-start {
    margin-block-start: 45px;
  }

  .sctn-gallery {
    padding-block-start: 60px;
  }

  .gallery-img {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery {
    padding-block-start: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
  }

  .gallery-img:nth-child(1) {
    grid-column: 1/ 3;
  }

  .gallery-img:nth-child(2) {
    grid-column: 3;
    grid-row: 1/ 3;
  }

  .gallery-img:nth-child(3) {
    grid-column: 1;
    grid-row: 2/ 4;
  }

  .gallery-img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery-img:last-child {
    grid-column: 2/ 4;
    grid-row: 3;
  }

  .footer {
    margin-block-start: 20px;
  }

  .footer-text {
    max-inline-size: 360px;
  }
}

@media (width>=1024px) {
  .decorated_zone {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    max-inline-size: 230px;
    padding-block-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header-title {
    max-inline-size: 759px;
  }

  .header-text {
    max-inline-size: 491px;
    padding-inline-end: 0;
  }

  .content-section {
    grid-template-columns: 315px 1fr;
  }

  .sctn-heading {
    max-inline-size: 315px;
  }

  .sctn-what .sctn-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer-text {
    max-inline-size: 471px;
  }
}