:root {
  --accent-color: #FF0070;
  --accent__header-title-clr: #DB00FF;
  --accent__text-color: #F1B2CE;
  --desktop__font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --image-cover: url(../images/cover-image-dark.png);
  --mobil__font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --page-font: 'IBM Plex Mono', sans-serif;
  --text-color: #000028;
}